/* Uploader */
a {
	color: #303030;
	cursor: pointer;
	-moz-outline-style: none;
	text-decoration: none;
}

.tcenter {text-align: center;}

.borderBottom {border-bottom: 1px dotted #808080;}

.ral {
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px; 
	border-radius: 10px;
	behavior: url(PIE.htc);
}

.grayField {
	background: #e0e0e0;
	border: 1px solid #c1c1c1;	
	padding: 5px;
	padding-bottom: 30px;
	width: 400px;
}

.medium.button	{
	padding: 7px 10px 8px 10px;
    font-size: 12px;
}

.silver.button {
	background: #f2f2f2;
	background:-webkit-gradient(linear,center bottom,center top,from(#d1d1d1),to(#ffffff));
	background:-moz-linear-gradient(90deg,#d1d1d1,#ffffff);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#d1d1d1',endColorstr='#ffffff');
	border-color: #BBB #BBB #999;
	border-style: solid;
	border-width: 1px;
	color: #333 !important;
	text-shadow: #F0F0F0 0px 1px;
}

.silver.button:active {
	background: #d1d1d1;
}

.ram {
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px;
}

#progress_bar {
	display: none;	
}

.ui-progress-bar {
	margin: 10px 0px 10px 0;
} 

.ui-progress span.ui-label {
  font-size: 1.2em;
  position: absolute;
  right: 0;
  line-height: 23px;
  padding-right: 12px;
  color: #000;
  text-shadow: rgba(255,255,255, 0.45) 0 1px 0px;
  white-space: nowrap;
}  

.ui-progress-bar {
  position: relative;
  height: 25px;
  padding-right: 2px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #808080;
}        

.ui-progress {
  position: relative;
  display: block;
  overflow: hidden;
  height: 23px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-size: 44px 44px;
  background-color: #ff0000;
  border: 1px solid #202020;
}

